<div class='td indicator-<%- status %>'><%- change_list %></div>
<div class="td"><%- owner %></div>
<div class="td time">
	<time datetime="<%- time_started %>" data-format="MM / DD / YYYY"></time>
	<time class="time" datetime="<%- time_started %>" data-format="h:mm a"></time>
</div>
<div class="td graph">
	<span class="build-step <%- build == 1 && unit_test > 0 ? status : '' %> "></span>
	<span class="build-progress" data-value="<%- unit_test %>" data-status="<%- status %>"></span>
	<span class="build-step <%- unit_test == 1 && functional_test > 0 ? status : '' %> "></span>
	<span class="build-progress" data-value="<%- functional_test %>" data-status="<%- status %>"></span>
	<span class="build-step <%- status %> "></span>
</div>
<div class="td status-<%- status %>"><%- status %></div>