<div class="wrapper indicator-<%- status %>">
	<div class='td'><%- change_list %></div>
	<div class="td"><%- owner %></div>
	<div class="td time">
		<time datetime="<%- time_started %>" data-format="MM / DD / YYYY"></time>
		<time class="time" datetime="<%- time_started %>" data-format="h:mm a"></time>
	</div>
	<div class="td graph">
		<span class="build-step <%- build > 0 ? (build == 1 ? 'success-' + status : 'Running') : status %>"></span>
		<span class="build-progress" data-value="<%- build %>" data-status="<%- status %>"></span>
		<span class="build-step <%- unit_test > 0 ? (unit_test == 1 ? 'success-' + status : 'Running') : (build == 1 ? status : '') %>"></span>
		<span class="build-progress" data-value="<%- unit_test %>" data-status="<%- status %>"></span>
		<span class="build-step <%- functional_test > 0 ? (functional_test == 1 ? status : 'Running') : (unit_test == 1 ? status : '') %>"></span>
	</div>
	<div class="details">
		
	</div>
</div>
<div class="td status-<%- status %> float">Build <%- status == "Failed" ? "Failure" : status %></div>

