<div class="wrapper indicator-<%- status %>">
	<div class='td'><%- change_list %></div>
	<div class="td"><%- owner %></div>
	<div class="td time">
		<time datetime="<%- time_started %>" data-format="MM / DD / YYYY"></time>
		<time class="time" datetime="<%- time_started %>" data-format="h:mm a"></time>
	</div>
	<div class="td graph">
		<span class="build-step <%- !build ? (status == "Failed" ? "failed-step" : status) : status %>"></span>
		<span class="build-progress" data-value="<%- unit_test %>" data-status="<%- status %>"></span>
		<span class="build-step <%- unit_test == 1 && functional_test > 0 ? status : (status == "Failed" && functional_test == 0 && unit_test == 1 ? 'failed-step' : '') %>"></span>
		<span class="build-progress" data-value="<%- functional_test %>" data-status="<%- status %>"></span>
		<span class="build-step <%- functional_test == 1 ? status : '' %> "></span>
	</div>
	<div class="details">
		<div class="build"><span class="step <%- status == "Passed" || status == "Failed" ? (build ? 'build-succeed' : 'build-failed') : '' %>">Build</span><time class="time" datetime="<%- last_build %>" data-format="h:mm a"></time></div>
		<div class="debug <%- debug ? 'debug-passed' : (status == "Failed" ? 'debug-failed' : 'debug-none') %>"><a class="debug" href="">debug</a></div>
		<div class="release <%- release ? 'release-passed' : (status == "Failed" ? 'release-failed' : 'release-none') %>"><a class="release" href="">release</a>
			<a class="logs" href="">get logs</a></div>
		<div class="separator">></div>
		<div class="unit-test">
			<span class="step <%- status == "Passed" || status == "Failed" ? (unit_test == 1 ? 'unit-test-succeed' : ( build ? 'unit-test-failed' : 'unit-test-none')) : '' %>">Unit Test</span>
			<span class="percentage <%- status == "Passed" || status == "Failed" ? (unit_test == 1 ? 'unit-test-succeed' : ( build ? 'unit-test-failed' : 'unit-test-none')) : '' %>" data-value="<%- unit_test_passed > 0 ? unit_test_warning * 100 / unit_test_passed : 0 %>" data-format="0%"></span>
			<span class="status <%- status == "Passed" || status == "Failed" ? (unit_test == 1 ? 'unit-test-succeed' : ( build ? 'unit-test-failed' : 'unit-test-none')) : '' %>">Status:</span>
			<span class="message <%- status == "Passed" || status == "Failed" ? (unit_test == 1 ? 'unit-test-succeed' : ( build ? 'unit-test-failed' : 'unit-test-none')) : '' %>"></span>
		</div>
		<div class="separator">></div>
		<div class="functional-test">
			<span class="step <%- status == "Passed" || status == "Failed" ? (functional_test == 1 ? 'functional-test-succeed' : (unit_test == 1 ? 'functional-test-failed' : 'functional-test-none')) : '' %>">Functional Test</span>
			<span class="percentage <%- status == "Passed" || status == "Failed" ? (functional_test == 1 ? 'functional-test-succeed' : (unit_test == 1 ? 'functional-test-failed' : 'functional-test-none')) : '' %>" data-value="<%- functional_test_passed > 0 ? functional_test_warning * 100 / functional_test_passed : 0 %>" data-format="0%"></span>
			<span class="status <%- status == "Passed" || status == "Failed" ? (functional_test == 1 ? 'functional-test-succeed' : (unit_test == 1 ? 'functional-test-failed' : 'functional-test-none')) : '' %>">Status:</span>
			<span class="message <%- status == "Passed" || status == "Failed" ? (functional_test == 1 ? 'functional-test-succeed' : (unit_test == 1 ? 'functional-test-failed' : 'functional-test-none')) : '' %>"></span>
		</div>
		<div class="functional-test-graph"></div>
	</div>
</div>
<div class="td status-<%- status %> float">Build <%- status == "Failed" ? "Failure" : status %></div>

