/* app.css */

html, body.body {
	background-color: #efefef;
	font-family: verdana;
	font-size: 11px;
	color: #666;
}

#cisapp{
	max-width: 1111px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

#cisapp table {
	font-family: verdana;
	font-size: 12px;
	background-color: #fff;
	color: #666;
	border: 2px solid #ddd;
}

#cisapp table thead th {
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #666;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}

#cisapp table tbody td {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

/* left indicators */

#cisapp table thead th.indicator {
	border-left: solid 6px #ddd;
	padding-left: 40px;
}

#cisapp table td.indicator-Pending {
	border-left: solid 6px #f8ac59;
	padding-left: 40px;
}

#cisapp table td.indicator-Running {
	border-left: solid 6px #1c84c6;
	padding-left: 40px;
}

#cisapp table td.indicator-Passed {
	border-left: solid 6px #1ab394;
	padding-left: 40px;
}

#cisapp table td.indicator-Failed {
	border-left: solid 6px #ed5565;
	padding-left: 40px;
}

/* status column */

td.status-Pending:before, td.status-Running:before, td.status-Passed:before, td.status-Failed:before {
	display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    content: '';
}

td.status-Pending {
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #f8ac59;
}

td.status-Pending:before{
    background: url('../images/pending.png') no-repeat 0 2px;
    background-size: 13px 13px;
}

td.status-Running{
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #1c84c6;
}

td.status-Running:before{
	background: url('../images/running.png') no-repeat 0 2px;
    background-size: 13px 13px;
}

td.status-Passed {
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #1ab394;
}

td.status-Passed:before{
	background: url('../images/passed.png') no-repeat 0 2px;
    background-size: 13px 13px;
}

td.status-Failed{
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #ed5565;
}

td.status-Failed:before{
	background: url('../images/failed.png') no-repeat 0 2px;
    background-size: 13px 13px;
}

time.time:before{
	margin-left: 10px;
	display: inline-block;
    width: 10px;
    height: 11px;
    margin-right: 3px;
    content: '';
	background: url('../images/clock.png') no-repeat 0 0;
    background-size: 10px 11px;
}



