/* app.css */

/* general styles */
html, body.body {
	background-color: #efefef;
	font-family: verdana;
	font-size: 11px;
	color: #666;
}

/* application container */
#cisapp{
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

/* integration list container */
#integration-list-view{
	background-color: #fff;
	color: #666;
	border: 2px solid #ddd;
	width: 100%;
	min-width: 965px;
}

/* header labels */
.view-header{
	border-bottom: 1px solid #ddd;
}
.view-header > .th{
	display: inline-block;
	font-family: 'Helvetica';
	font-size: 14px;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	color: #666;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	width: 10%;
	margin: 0;
	text-align: center;
}
/* header graph labels */
.th.time {
	width: 20%;
}
.th.graph{
	min-width: 411px;
	width: 39%;
}
.th.graph > .th{
	display: inline-block;
	width: 130px;
}
.th.status {
	width: 10%;
	float: right;
	text-align: left;
}
/* header indicator */
.view-header:first-child {
	border-left: solid 6px #ddd;
}

/* integration rows */
.view-body > .integration {
	border-bottom: 1px solid #ddd;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 54px;
}
.view-body > .integration.alternate {
	height: 100%;
}
.view-body > .integration > .wrapper {
	overflow: hidden;
}
.view-body > .integration > .wrapper > .details {
	display: block;
	width: 100%;
	height: 84px;
	border-top: 1px solid #ddd;
}

.view-body > .integration > .td, 
.view-body > .integration > .wrapper > .td {
	display: inline-block;
	font-family: verdana;
	font-size: 12px;
	color: #666;
	padding-top: 1.45em;
	/*padding-bottom: 1.45em;*/
	width: 10%;
	margin: 0;
	text-align: center;
	height: 54px;
	overflow: hidden;
	vertical-align: top;
}
/* hack for margin in wrapper moving stuff to the right */
.view-body > .integration > .wrapper > .td {
	margin-left: -1px;
}
/* style for time  */
.view-body > .integration > .td.time,
.view-body > .integration > .wrapper > .td.time{
	width: 20%;
}
time.time:before{
	margin-left: 10px;
	display: inline-block;
  width: 10px;
  height: 11px;
  margin-right: 3px;
  content: '';
	background: url('../images/clock.png') no-repeat 0 0;
  background-size: 10px 11px;
}
.view-body > .integration > .td.graph,
.view-body > .integration > .wrapper > .td.graph {
	min-width: 411px;
	width: 39%;
	padding-top: .75em;
}
.view-body > .integration > [class^="td status-"] {
	font-family: 'Helvetica';
	font-size: 1.15em;
	font-weight:500;
	font-variant: normal;
	font-style: normal;
	width: 15%;
	float: right;
	text-align: left;
	padding-left: 2.5em;
}
.view-body > .integration.alternate > [class^="td status-"] {
	font-size: 2em;
	margin-top: -142px;
	vertical-align: top;
	background-color: #f7f7f7;
	height: 142px;
	border-left: 1px solid #ddd;
	padding-left: 1.5em;
}

/* left indicators */

.view-body > .integration > .td.indicator {
	border-left: solid 6px #ddd;
}
.view-body > .integration > .wrapper.indicator {
	border-top: solid 4px #ddd;
	border-left: 6px solid #ddd;
}

.view-body > .integration > .td.indicator-Pending {
	border-left: solid 6px #f8ac59;
}
.view-body > .integration > .wrapper.indicator-Pending {
	border-top: solid 4px #f8ac59;
	border-left: 6px solid #ddd;
}

.view-body > .integration > .td.indicator-Running {
	border-left: solid 6px #1c84c6;
}
.view-body > .integration > .wrapper.indicator-Running {
	border-top: solid 4px #1c84c6;
	border-left: 6px solid #ddd;
}

.view-body > .integration > .td.indicator-Passed {
	border-left: solid 6px #1ab394;
}
.view-body > .integration > .wrapper.indicator-Passed {
	border-top: solid 4px #1ab394;
	border-left: 6px solid #ddd;
}

.view-body > .integration > .td.indicator-Failed {
	border-left: solid 6px #ed5565;
}
.view-body > .integration > .wrapper.indicator-Failed {
	border-top: solid 4px #ed5565;
	border-left: 6px solid #ddd;
}

/* status column */

.view-body > .integration > .status-Pending:before,
.view-body > .integration > .status-Running:before, 
.view-body > .integration > .status-Passed:before, 
.view-body > .integration > .status-Failed:before {
	display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  content: '';
}
.view-body > .integration.alternate > .status-Pending:before,
.view-body > .integration.alternate > .status-Running:before, 
.view-body > .integration.alternate > .status-Passed:before, 
.view-body > .integration.alternate > .status-Failed:before {
	display: inline-block;
	width: 20px;
  height: 20px;
}

.view-body > .integration > .status-Pending {
	color: #f8ac59;
}

.view-body > .integration > .status-Pending:before {
  background: url('../images/pending.png') no-repeat 0 2px;
  background-size: 13px 13px;
}
.view-body > .integration.alternate > .status-Pending:before {
	background: url('../images/pending.png') no-repeat 0 0;
  background-size: 20px 20px;
}

.view-body > .integration > .status-Running {
	color: #1c84c6;
}

.view-body > .integration > .status-Running:before {
	background: url('../images/running.png') no-repeat 0 2px;
  background-size: 13px 13px;
}
.view-body > .integration.alternate > .status-Running:before {
	background: url('../images/running.png') no-repeat 0 0;
  background-size: 20px 20px;
}
.view-body > .integration > .status-Passed {
	color: #1ab394;
}

.view-body > .integration > .status-Passed:before {
	background: url('../images/passed.png') no-repeat 0 2px;
  background-size: 13px 13px;
}
.view-body > .integration.alternate > .status-Passed:before {
	background: url('../images/passed.png') no-repeat 0 0;
  background-size: 20px 20px;
}

.view-body > .integration > .status-Failed {
	color: #ed5565;
}

.view-body > .integration > .status-Failed:before {
	background: url('../images/failed.png') no-repeat 0 2px;
  background-size: 13px 13px;
}
.view-body > .integration.alternate > .status-Failed:before {
	background: url('../images/failed.png') no-repeat 0 0;
  background-size: 20px 20px;
}

/* progress chart */

.build-step{
	display: inline-block;
	/*float: left;*/
	width: 35px;
	height: 37px;
	background: url('../images/empty-step.png') no-repeat;
	z-index: 10;
	margin: 0;
}

.build-step.Pending {
	background: url('../images/pending-step.png') no-repeat;
}

.build-step.Running {
	background: url('../images/running-step.png') no-repeat;
}

.build-step.Passed {
	background: url('../images/passed-step.png') no-repeat;
}

.build-step.Failed {
	background: url('../images/passed-failed-step.png') no-repeat;
}

.build-step.failed-step {
	background: url('../images/failed-step.png') no-repeat;
}

span.build-progress.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
	display: inline-block;
	width: 150px;
	height: 7px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 15px;
	border-radius: 0;
	border-left: none;
	border-right: none;
	border-top: 2px solid #e4e4e7;
	border-bottom: 2px solid #e4e4e7;
	z-index: 1000;
	margin-top: 0;
	z-index: 1000;
}

.ui-widget.ui-widget-content{
	background-color: #e4e4e7; 
}

/* Progress bar color */
div.ui-progressbar-value.ui-widget-header.ui-corner-left {
	position: relative;
	background: url('../images/progress-running.png');
	border-radius: 0;
	margin: 0;
	border: none;
	z-index: 1000;
}

/* Progress bar color */
div.ui-progressbar-value.ui-widget-header.ui-corner-left.progress-Passed {
	background: url('../images/progress-succeed.png');
}

/* Progress bar color */
div.ui-progressbar-value.ui-widget-header.ui-corner-left.progress-Failed {
	background: url('../images/progress-failed.png');
}

.view-body .integration .wrapper .details div {
	display: inline-block;
	height: 100%;
	font-family: tahoma;
	font-size: 12px;
	color: #666;
	vertical-align: top;
	padding: 1em;
}
.view-body .integration .wrapper .details .build,
.view-body .integration .wrapper .details .unit-test,
.view-body .integration .wrapper .details .functional-test  {
	color: #666;
	padding-left: 2em;
	padding-right: 2em;
	text-align: left;
}
.view-body .integration .wrapper .details .build .step,
.view-body .integration .wrapper .details .unit-test .step,
.view-body .integration .wrapper .details .functional-test .step {
	display:block;
	font-size: 15px;
	font-weight: 500;
	margin-left: .9em;
}
.view-body .integration .wrapper .details .build .step.build-succeed, 
.view-body .integration .wrapper .details .unit-test .step.unit-test-succeed,
.view-body .integration .wrapper .details .functional-test .step.functional-test-succeed  {
	/*color: #1ab394;*/
}
.view-body .integration .wrapper .details .build .step.build-succeed:after,
.view-body .integration .wrapper .details .unit-test .step.unit-test-succeed:after,
.view-body .integration .wrapper .details .functional-test .step.functional-test-succeed:after  {
	display: inline-block;
 	width: 15px;
 	height: 15px;
 	margin-left: 5px;
 	content: '';
 	background: url('../images/passed-check.png') no-repeat 0 0;
 }
.view-body .integration .wrapper .details .build .step.build-failed,
.view-body .integration .wrapper .details .unit-test .step.unit-test-failed,
.view-body .integration .wrapper .details .functional-test .step.functional-test-failed {
	/*color: #ed5565;*/
}
.view-body .integration .wrapper .details .build .step.build-failed:after,
.view-body .integration .wrapper .details .unit-test .step.unit-test-failed:after,
.view-body .integration .wrapper .details .functional-test .step.functional-test-failed:after  {
	display: inline-block;
 	width: 15px;
 	height: 15px;
 	margin-left: 5px;
 	content: '';
 	background: url('../images/failed-inverted.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .unit-test .step.unit-test-none:after,
.view-body .integration .wrapper .details .functional-test .step.functional-test-none:after  {
	display: inline-block;
 	width: 15px;
 	height: 15px;
 	margin-left: 5px;
 	content: '';
 	background: url('../images/failed-check.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .debug, 
.view-body .integration .wrapper .details .debug a.debug,
.view-body .integration .wrapper .details .release,
.view-body .integration .wrapper .details .release a.release {
	font-size: 11px;
	color: #ccc;
	font-weight: bold;
}
.view-body .integration .wrapper .details .debug.debug-passed a.debug,
.view-body .integration .wrapper .details .release.release-passed a.release  {
	color: #1c88c6;
	text-decoration: underline;
}
.view-body .integration .wrapper .details .debug.debug-failed a.debug,
.view-body .integration .wrapper .details .release.release-failed a.release {
	color: #ccc;
	text-decoration: underline;
}
.view-body .integration .wrapper .details .debug.debug-none:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/debug-none.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .debug.debug-passed:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/debug-passed.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .debug.debug-failed:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/debug-failed.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .debug:after {
}

.view-body .integration .wrapper .details .release.release-none:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/release-none.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .release.release-passed:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/release-passed.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .release.release-failed:before {
	display:block;
	width: 32px;
 	height: 30px;
 	content: '';
 	background: url('../images/release-failed.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .release.release-none a.logs,
.view-body .integration .wrapper .details .release.release-passed a.logs {
	display: none;
}
.view-body .integration .wrapper .details .release.release-failed a.logs:before {
	display: inline-block;
	width: 12px;
 	height: 12px;
 	margin-left: 2px;
 	content: '';
 	background: url('../images/get-logs.png') no-repeat 0 0;
}
.view-body .integration .wrapper .details .release.release-failed a.logs {
	display: block;
	color: #1c88c6;
	text-decoration: underline;
	margin-left: -10px;
	font-size: 9px;
}
.view-body .integration .wrapper .details .separator {
	font-size: 18px;
	color: #ddd;
}

.view-body .integration .wrapper .details .unit-test .percentage,
.view-body .integration .wrapper .details .functional-test .percentage {
	display: inline-block;
	font-size: 22px;
	color: #ddd;
	margin-right: 8px;
}

.view-body .integration .wrapper .details .unit-test .percentage.unit-test-succeed,
.view-body .integration .wrapper .details .functional-test .percentage.functional-test-succeed {
	color: #1ab394;
}

.view-body .integration .wrapper .details .unit-test .status,
.view-body .integration .wrapper .details .unit-test .message,
.view-body .integration .wrapper .details .functional-test .status,
.view-body .integration .wrapper .details .functional-test .message {
	display: none;
}

.view-body .integration .wrapper .details .unit-test .status.unit-test-none,
.view-body .integration .wrapper .details .unit-test .message.unit-test-none,
.view-body .integration .wrapper .details .unit-test .status.unit-test-failed,
.view-body .integration .wrapper .details .unit-test .message.unit-test-failed,
.view-body .integration .wrapper .details .functional-test .status.functional-test-none,
.view-body .integration .wrapper .details .functional-test .message.functional-test-none,
.view-body .integration .wrapper .details .functional-test .status.functional-test-failed,
.view-body .integration .wrapper .details .functional-test .message.functional-test-failed {
	display: inline-block;
	font-size: 18px;
	color: #ed5565;
}
.view-body .integration .wrapper .details .unit-test .message.unit-test-none:after,
.view-body .integration .wrapper .details .functional-test .message.functional-test-none:after {
	content: "Can't run";
}
.view-body .integration .wrapper .details .unit-test .message.unit-test-failed:after,
.view-body .integration .wrapper .details .functional-test .message.functional-test-failed:after {
	content: "Failed";
}
.view-body .integration .wrapper .details .unit-test .status.unit-test-none,
.view-body .integration .wrapper .details .functional-test .status.functional-test-none,
.view-body .integration .wrapper .details .unit-test .status.unit-test-failed,
.view-body .integration .wrapper .details .functional-test .status.functional-test-failed {
	font-size: 16px;
	color: #666;	
}

.view-body .integration .wrapper .details .unit-test-graph {
}
.view-body .integration .wrapper .details .functional-test {
	font-size: 15px;
	font-weight: 500;
}
.view-body .integration .wrapper .details .functional-test-graph {
}

/* TODO: Remove */
.integration {
	display: block;
}

.integration.alternate {
	display: block;
}




